/* .home { */


/* background: url(/src/image/me-background.jpg); */


/* background-color: rgb(22, 22, 22); */


/* justify-content: center; */


/* position: relative;
    background: url(/src/image/home-background4.jpg);
    background-attachment: fixed, scroll;
    background-repeat: no-repeat, repeat-y;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    top: 0;
    margin: auto;
    display: flex;
    align-items: center;
}

.description {
    color: #fff;
    width: 600px;
    margin-left: 15vw;
}

.description p {
    text-align: justify;
    font-size: 20px;
}

.description h1 {
    font-size: 40px;
    font-weight: 800;
} */


/* .image img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
} */