/*=============================== LEWA STRONA ======================== */

.content-site-left {
    display: flex;
    align-items: center;
    height: 100%;
}

.active-bookmark i {
    color: white;
    font-size: 40px;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.bookmark {
    transition: transform .3s, color .4s linear;
    -webkit-transition: transform .3s, color .4s linear;
    -moz-transition: transform .3s, color .4s linear;
    -ms-transition: transform .3s, color .4s linear;
    -o-transition: transform .3s, color .4s linear;
}


/*=============================== MENU ======================== */

.navbar-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-width: 75px;
}

.donwload-cv,
.hamburger-icon button,
.bookmarks button,
.donwload-cv button {
    height: 60px;
    color: var(--primary-color);
    font-size: 30px;
    display: flex;
    align-items: center;
    width: 100%;
}

.bookmarks button:hover,
.donwload-cv button:hover {
    color: var(--text-color);
}

.bookmarks li {
    display: flex;
    align-items: center;
}

.bookmark {
    margin: 10px;
    margin-right: 50px;
}

.hamburger-icon .btn-menu {
    background-color: var(--primary-color);
    color: var(--text-color);
}


/*=============================== PHOTO ======================== */

.photo-content {
    height: 110%;
    box-shadow: 0 2px 64px 0 rgb(0 0 0 / 50%);
    margin-right: 10px;
}

.photo {
    height: 100%;
    width: 400px;
}

@media (max-width: 1000px) {
    .photo {
        width: 320px;
    }
}

@media (max-width: 800px) {
    .photo {
        display: none;
    }
    .navbar-left {
        border-right: 1px solid #50505083;
    }
    h1 {
        font-size: 30px;
    }
}

.navbar-left {
    border-right: 1px solid #50505083;
}


/* =========================================================== */

.photo-content {
    position: absolute;
    left: 80px;
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    z-index: 1000;
}

.click-Menu .photo-content {
    left: 400px;
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
}

.bookmark-text {
    color: #ddd;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.bookmark-text:hover {
    color: #fff;
    font-size: 19px;
}

.navbar-left {
    min-width: 480px;
}

@media (max-width:1000px) {
    .navbar-left {
        min-width: 0px;
    }
    .click-Menu .photo-content {
        left: 380px;
    }
}

@media (max-width:800px) {
    .navbar-left,
    .active-bookmark,
    .btn,
    .content-site-left {
        max-width: 90px;
        min-width: 90px;
    }
    .bookmark-text {
        display: none;
    }
    .bookmark {
        margin: 10px;
    }
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar-left {
        position: absolute;
    }
}

.bookmarks li a {
    min-width: 400px;
}

.bookmark {
    min-width: 40px;
    max-width: 40px;
}


/*transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease;
}

.project-image:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);*/