/* .me {
    background-color: rgb(24, 25, 29);
    width: 100%;
    height: 100vh;
    padding: 20px;
}

.me h3,
.me h4 {
    color: #fff;
    font-weight: 700;
}

.info-container {}

.info-category {
    font-weight: 700;
    color: #fff;
    margin-right: 10px;
}

.me ul {
    list-style-type: none;
    color: #fff;
}

.me ul li {
    color: #fff;
} */