/*=============================== PRAWA STRONA ======================== */

.content-site-right {
    height: 100%;
    color: var(--text-color);
    overflow: auto;
    padding: 30px 70px;
    width: 100%;
}


/*=============================== contact ======================== */

.contact i {
    color: var(--primary-color);
    font-size: 25px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact {
    height: 60px;
    display: flex;
    align-items: center;
    flex-basis: 45%;
    margin-right: 5%;
}

.contact-group {
    display: flex;
    flex-wrap: wrap;
}


/*=============================== SKILLS ======================== */

.list-skills {
    display: flex;
    flex-wrap: wrap;
}

.skill {
    background-color: #484848;
    padding: 8px 18px;
    margin: 5px 10px;
    min-width: 80px;
    text-align: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-size: 14px;
}


/*=============================== qualification ======================== */

.qualification {
    display: flex;
    justify-content: space-between;
}

.qualification .date {
    margin-right: 20%;
    /* font-weight: 600; */
}


/*=============================== job ======================== */

.job,
.school {
    display: flex;
    font-size: 17px;
    margin-bottom: 30px;
}

.job-date,
.school-date {
    /* font-weight: 600; */
    margin-right: 90px;
    min-width: 150px;
}

.job-position,
.school-name {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 17px;
}

.job-employer,
.job-responsibilities,
.school-specialization,
.school-level {
    font-weight: 300;
}

p {
    word-wrap: break-word;
}


/*=============================== project ======================== */

.project {
    display: flex;
    min-width: 100%;
    margin-top: 20px;
}

.project-images {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-images img {
    margin: 5px 0;
}

.project-image {
    width: 300px;
    transition: all 0.3s ease;
}

.project-image:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.project-info {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.project-info h2 {
    margin-top: 0;
}

.project-technology {
    display: flex;
    flex-wrap: wrap;
    /* width: 400px; */
}

.project-tech {
    background-color: #484848;
    padding: 8px 18px;
    margin: 5px 5px;
    font-size: 15px;
    text-align: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.project-links {
    display: flex;
    flex-direction: row;
}

.project-links .link {
    background-color: #484848;
    padding: 8px 18px;
    margin: 2px 5px;
    font-size: 15px;
    text-align: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

@media (max-width: 1400px) {
    .project {
        flex-direction: column-reverse;
    }
    .project-images,
    .project-image,
    .project-technology {
        width: 100%;
    }
    .project-info {
        width: 100%;
        margin-bottom: 20px;
        padding: 0;
    }
    .content-site-right {
        padding: 20px;
    }
    .job-date,
    .school-date {
        margin-right: 30px;
        min-width: 150px;
    }
}

@media (max-width: 1000px) {
    .job-date,
    .school-date {
        max-width: 90px;
        min-width: 90px;
    }
}

@media (max-width: 500px) {
    .contact-group {
        flex-direction: column;
    }
    .contact {
        min-height: 50px;
    }
    .contact:nth-child(2n) {
        order: 1;
    }
    .contact:nth-child(2n+1) {
        order: 0;
    }
}

@media (max-width: 800px) and (min-width: 700px) {
    .project-images {
        flex-direction: row;
    }
    .project-image {
        width: 90%;
    }
}